.key { 
    color: pink;
    background-color: white;
    height: 300px;
    width: 60px;
    border: 2px solid black;
}

.key-text { 
    color: palevioletred;
    margin-top: 240px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 800;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    pointer-events: none;
    background-color: powderblue;
    border-radius: 45%;
    text-align: center;
    
}

.key.flat { 
    background-color: black;
    position: relative; 
    height: 200px;
    width: 30px;
    z-index: 2;
    margin-left: -17px;
    margin-right: -17px;;
}

.key.pressed, .key.flat.pressed { 
    background-color: palevioletred;
}