.App { 
  margin: 10%;

}
body { 
  background-color: gray;
}
 h1 {
   background-color: paleturquoise;
   text-align: center;
   height: 100px;
   padding-top: 30px;
   font-size: 55px;
   font-family: fantasy;
   margin-top: 0%;
   border-bottom: peachpuff 10px dotted;
   border-top: peachpuff 10px dotted;
 }

 h3 {
   margin: auto;
   text-align: center;
   width: max-content;
   padding: 10px;
   border: black 3px solid;
   color: peachpuff;
 }
